<!DOCTYPE html>
{% extends "tab_home.html"  %}
  <head>
    <title>Test Access Gateway - API GATEWAY testing</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css" media="screen">
#editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 500px
}
  </style></head>
{% load static %}
{% block body_block %}
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <!--check point create/accept/convtopolicy-->
            {% if pantit == "crq"%}
             <span class="panel-title">CREATE QUOTE</span>
        </div>
        <div class="panel-body">
            <br>
            <div class="row">
                <div class="col-md-7">
                        <button class="btn btn-info">API request</button>
                    <div id="editor">{{Req_data}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                       <div class="container">
                           <br>
                           <br>
  <table class="table-condensed">
    <thead>
       </thead>
    <tbody>
      <tr>
          <!--check point quote/policy-->
        <td>Quote number</td>
          <td><button class="btn btn-info">{{quote_number}}</button></td>
      </tr>
      <tr>
             <!--check point success/fail-->
          <td>Status</td>
        <td><button class="btn btn-success">Success</button></td>
      </tr>
      <tr>
             <!--check point if there's an error msg-->
        <td>Error</td>
        <td>data</td>
      </tr>
    </tbody>
  </table>
</div>

                    </div>
                    <div class="row">
                        <button class="btn btn-info">API response</button>
                    <div id="editor2">{{Resp_data}}</div>
       <form  method = 'POST' action="{% url 'test_execution' %}">
           {% csrf_token %}
                                       <div class="form-group">

                    <textarea name="content" id="content" hidden="hidden" value="content"></textarea>
                           </div>
           <!-- checkpoint execute/proceed - accept/convert to policy -->
                <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <input type= "submit" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Post request" name="post" id="post" value="EXECUTE">
    </div></div>
                    </form>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <!--  <button class="btn btn-primary" id="toggletextarea-btn">Hide TextArea</button>
    <button class="btn btn-default" id="alertcontent-btn">Alert Content</button>-->
    <br/>
    <br/>
</div>
     <!--  <button class="btn btn-primary" id="toggletextarea-btn">Hide TextArea</button>
    <button class="btn btn-default" id="alertcontent-btn">Alert Content</button>-->

<script src="{% static "src_noconflict/ace.js" %}" type="text/javascript" charset="utf-8">
</script>
<script>
     var textarea = $('#content');

   var editor = ace.edit("editor");
   var editor2 = ace.edit("editor2")
   editor.setTheme("ace/theme/eclipse");
   editor.getSession().setMode("ace/mode/json");
   document.getElementById('editor').style.fontSize='14px';


   editor2.setTheme("ace/theme/cobalt");
   editor2.getSession().setMode("ace/mode/json");
   document.getElementById('editor2').style.fontSize='14px';

   editor.getSession().on('change', function () {
       textarea.val(editor.getSession().getValue());
   });

   textarea.val(editor.getSession().getValue());

   $("#toggletextarea-btn").on('click', function () {
       textarea.toggle();
       $(this).text(function (i, text) {
           return text === "Show Content" ? "Hide Content" : "Show Content";
       });
   });

   $("#alertcontent-btn").on('click', function () {
       alert(textarea.val());
   });
</script>


{% endblock %}


