<!DOCTYPE html>
{% extends "tag_home.html"  %}
<head>
 <title>Test Access Gateway - API GATEWAY testing</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% load static %}
{% block body_block %}
<div class="container">
  <div class="panel-group">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Beanstalk - Quote API service</h4></div>
          <div class="panel-body">
              Click here to proceed - <a href="{% url 'beanstalk_exe' %}"><button type="button" class="btn btn-success btn-sm">Policy Creation</button></a>
              <br><br>
          <p>Execution flow -
              <kbd>Create quote</kbd>=>
              <kbd>Accept quote</kbd>=>
              <kbd>Convert to Policy</kbd>
          </p>
          </div>
      </div>
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Beanstalk - Policy API service</h4></div>
          <div class="panel-body">  Click here to proceed - <a href="{% url 'beanstalk_exe2' %}"><button type="button" class="btn btn-success btn-sm">Policy Amendment</button></a>
              <br><br>
          <p>Execution flow -
              <kbd>Amend Policy</kbd>=>
              <kbd>Accept PolicyAmendment</kbd>=>
              <kbd>Comparator(View before/View after Amend)</kbd>
          </p>
          </div>
      </div>
  </div>
</div>


{% endblock %}