<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>designer</title>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

</head>
<body>
<div class="container">
<select class="form-control glyphicon" data-show-icon="true">
    <option>&#xe022; SHL000009053 - &#xe008; c2408873 - &#xe023; 2018-07-09T16:23:34.117295</option>
    <option>&#xe022; SHL000008976 - &#xe008;  c714678 - &#xe023; 2018-07-09T16:23:34.117295</option>
    <option>&#xe022; SHL000009088 - &#xe008; c2408873 - &#xe023; 2018-07-10T14:01:34.117295</option>
</select>

</div>
</body>
</html>